@model RacingGame.Models.BidClass

@{
    Layout = null;
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
    $().ready(function () {
        $("#btnBid").click(function () {
            $(this).hide();
            $(this).after('<input type="button" disabled="disabled" value="' + $(this).val() + '" />');
            return true;
        });
    });
</script>

@using (Html.BeginForm("Bid", "Game", new RouteValueDictionary { 
                                                     { "id", ViewData["UserID"] },
                                                     {"pagenumber", ViewData["PageNumber"]},
                                                     {"pagename", ViewData["PageName"]}
                                                     }, FormMethod.Post))
{
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <div style="text-align: center;" >
        <div style="margin: 0 auto;width:40% ; text-align: right">
            <p><u>Your current Balance is: </u> $@ViewBag.Account</p>
            <!--<p>You saved a total of @ViewBag.TimeSaved minutes </p> -->
            <!--<p>You have $@ViewBag.Account left</p> -->
        </div>

        <div style="width: 40%;height:80%; margin: 0 auto; text-align: left">
            <p> <u>Section @ViewBag.CurrentSection out of @ViewBag.RoadSections </u></p>

            <p>For the next section, the distance is 10 miles. </p>
            <p>You can choose from one of the following roads: </p>
            <p>Regular freeway – your average speed would be @ViewBag.FreewaySpeed mph.</p>
            <p>Toll road – your average speed would be @ViewBag.HighwaySpeed mph.</p>

            <br>
            <p>What is the HIGHEST amount you would be willing to pay to use the toll road?</p>
            @Html.EditorFor(model => model.Bid)
            @Html.ValidationMessageFor(model => model.Bid)
            <br>

            <p>Remember: Your best strategy is to give the true price you are willing to pay. </p>
            <p>Once you submit your price, we will draw a random price for the toll road. </p>
            <p>If your price would be greater or equal to the toll road’s random price, you will be able to use the toll road and pay the toll road’s price (the random price). </p>
            <p>If your price would be lower than the toll road’s random price, you will not be able to use the toll road and will have to complete this section using the regular freeway.</p>

            <input id ="btnBid" type="submit" value="Bid !"/> <!--onclick="DisableClick();" runat="server"/>-->
        </div>
        
    </div>
}