@{
    Layout = null;
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
@{using (Html.BeginForm("AfterEndGame", "Game",new RouteValueDictionary { 
                                                     { "id", ViewData["UserID"] },
                                                     {"pagenumber", ViewData["PageNumber"]},
                                                     {"pagename", ViewData["PageName"]},
                                                     },
                                                     FormMethod.Get))
  {
      <div style="width: 40%;height:80%; margin: 0 auto; text-align: left">
                @{
                    if (ViewBag.MoneySpent < ViewBag.StartingAccount)
                    {
                        <p>Thank you. You have completed the game. </p>

                        <p>After @ViewBag.Sections sections of 10 miles each, you were able to save a total of @ViewBag.TimeSaved minutes. </p>
                        <p>You spend a total of @ViewBag.MoneySpent dollars on toll roads during the game. </p>

                        <p>The ratio between the time you saved and the money you spent is @ViewBag.MoneyTimeRatio. </p>

                        <p>Your bonus is this score multiplied by 50 cents, which means you will get @ViewBag.Bonus dollars in bonus. </p>        
                    }
                    else
                    {
                        <!--//user spent all his money-->
                        <p>You have spent the total $@ViewBag.StartingAccount you were given. </p>

                        <p>You cannot go on to the next section because you do not have any more money to bid on using the toll roads. Instead, you will complete the remaining sections using the regular freeways only, which means you will not be able to save any more time. </p>

                        <p>This is the end of the game for you. </p>

                        <p>You were able to save @ViewBag.TimeSaved minutes and spent $@ViewBag.StartingAccount.</p>
                        <p>The ratio between the time you saved and the money you spent is @ViewBag.MoneyTimeRatio. </p>

                        <p>Your bonus is this score multiplied by 50 cents, which means you will get @ViewBag.Bonus dollars in bonus.</p>
                    }
                }
                

                <p>To receive your payment and bonus, you must copy and paste the confirmation code below back to MTurk. </p>

                <p>Confirmation code: @ViewBag.Code</p>


                <p>Please click on “Next” to continue.</p>
                <input type="submit" value="Next" />

            </div>
  }
    
}